@import '~antd/dist/antd.css';

.buttonDeteil {
  color: #ff756e;
}

.link-deteil {
  color: red;
}

.cardiner {
  width: 350;
  text-align: center;
  padding: 10px 15px;
}
.span {
  color: #acacac
}
.rated {
  color: rgb(255, 221, 29);
  font-size: 18px
}
.avatar {
  width: 20px;
  height: 20px;
  margin-bottom: 7px
}
.name {
  font: 18px sans-serif;
  color: #ff756e;
}
.released {
  color: #acacac;
}

.cover {
  width: 180px; 
  align-items: center;
  padding: 10px;
}

.gutter-box {
  /* background: #00A0E9; */
  padding: 20px 0;
}
.App-bg {
  background: #71747a;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
